/* the props */
@import "open-props/postcss/style";

/* optional imports that use the props */
@import "open-props/postcss/normalize";
@import "open-props/postcss/buttons";

@font-face {
    font-family: "PressStart";
    src: url("PressStart2P-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-bg: #000;
    --color-text: #fff;
    --font-mono: "PressStart", monospace;
}

body {
    font-family: var(--font-monospace-code);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    color: var(--color-text);
    background-color: var(--color-bg);
    background-image:
        linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.75),
            rgba(0, 0, 0, 0.25),
            rgba(0, 0, 0, 0.75)
        ),
        url("/assets/images/brick.webp");
    background-position: center;
    background-repeat: repeat;
    background-size: 400px;
    overflow: hidden;
}

#__nuxt {
    overflow: hidden;
}

* {
    cursor: none;
}

.button {
    color: limegreen;
    border: none;
    display: block;
    padding: 0.25rem;
    font-size: var(--font-size-base);
    margin-block: 1rem;
    cursor: pointer;
    text-align: center;

    &:hover {
        text-decoration: none;
    }

    &[data-show="true"] {
        border: 1px solid limegreen;
        box-shadow:
            0 0 5px hsl(120, 61%, 50%, 0.75),
            0 0 10px hsl(120, 61%, 50%, 0.3),
            inset 0 0 5px hsl(120, 61%, 50%, 0.75),
            inset 0 0 10px hsl(120, 61%, 50%, 0.3);
    }
}

* {
    overscroll-behavior: none;
}
